@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Playfair+Display:wght@400;500;600&family=Source+Sans+Pro:wght@200;300;400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #3b3b3b;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header fixo */

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding: 2rem;
    z-index: 1;
    background-color: #f6f6ef;
    padding-top: 40px;
    font-size: 16px;

}

/* Botão home, foto pessoal e meu nome */

header>a{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

#imghome{
    width: 50px;
    height: 48px;
    clip-path: circle(46%);
}


header>a>span{
    padding: 0 5px;
    font-weight: 700;
}

/* navegação para as outras páginas do site, projetos e sobre*/

nav{
    padding: 0 3rem;
    display: flex;
    width: 20%;
    height: auto;
    justify-content: space-around;
    margin: 0 10px;
    
    
}

nav>a{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
   
}

nav>a::after {
    display: block;
    content: "";
    position: absolute;
    height: 4px;
    background-color:rgba(149, 151, 144, 0.233);
    bottom: 1px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

nav>a.selected::after {
    display: block;
    content: "";
    position: absolute;
    height: 4px;
    background-color:#f9ce0f;
    bottom: 1px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

a:hover::after {
    background-color: #f9ce0f;
    width: 0%;
    animation: animnav ease-out .3s;
    animation-fill-mode: forwards;
    left: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

@keyframes animnav {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

/* Conteúdo principal */

main {
    background-color: #f6f6ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    padding: 7%;
    flex: 1;
}

/* Página inicial */

#page1{
    height: 85vh;
    padding: 2rem;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo_page1{
    padding: 0 3rem;
    width: 90vw;
}

.p1_page1{
    font-size: 19px;
    text-transform: uppercase;
    color: #f9ce0f;
    font-weight: 700;

}

.h1_page1{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;

}

.p2_page1{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 1.5px;
      

}

/* Projetos*/

#page2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.box_page2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    background: rgba(127, 125, 115, 0.15);
    box-shadow: 0 5px 10px 1px rgba(191, 201, 161, 0.315);
    border-radius: 10px;
    padding: 15px;
}

.projetos{
    position: relative;
    width: 300px;
    height: 350px;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    opacity: .6;
    margin: 15px;
    box-shadow: 0 5px 23px 0 rgba(3, 3, 3, 0.493);
    border-radius: 10px;
    transition: ease-in-out .15s;
    

}

  
.projetos:hover{
    transform: scale(1.12);
    cursor: pointer;
    

}


.h2_page2{
    position: absolute;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: antiquewhite;

}

.relogio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid antiquewhite;
    box-shadow: 0 5px 23px 0 rgba(255, 252, 252, 0.377);
}

.relogio::before {
    content:"";
    position: absolute;
    top: -7px;
    left: -7px;
    width: 10px;
    height: 15px;
    transform: rotate(45deg);
    background-color: antiquewhite;
    box-shadow: 0 5px 23px 0 rgba(255, 252, 252, 0.377);

}

.relogio::after{
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -25px;
    left: 24px;
    background-color: antiquewhite;
    transform: rotate(180deg);
    clip-path: polygon(0% 100%, 100% 100%, 100% 50%, 66% 50%, 66% 25%, 33% 25%, 33% 50%, 0% 50%);
    box-shadow: 0 5px 23px 0 rgba(255, 252, 252, 0.377);


}

.ponteiro{
    position: absolute;
    width: 4px;
    height: 38px;
    left: 32px;
    background-color: antiquewhite;
    box-shadow: 0 5px 23px 0 rgba(255, 252, 252, 0.377);

}

.megasena1{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-40%);
    width:80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid antiquewhite;
    box-shadow: 0 5px 23px 0 rgba(255, 252, 252, 0.377);
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1.3rem;

}

.megasena2{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid antiquewhite;
    box-shadow: 0 5px 23px 0 rgba(255, 252, 252, 0.377);
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1.3rem;

}

.megasena3{
    content:"";
    color: antiquewhite;
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: 5px solid antiquewhite;
    box-shadow: 0 5px 23px 0 rgba(255, 252, 252, 0.377);
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1.3rem;

}

.p1_page2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: antiquewhite;

}

.p2_page2{
    position: absolute;
    padding: 10px;
    bottom: 10px;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}



#page3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    font-size: 1.3rem;
   
}

.pad10px{
    padding: 10px;
}

.imagem-png {
    image-rendering: smooth;
  }


.conteudo_page3 {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    
}


.conteudo_page3:nth-child(1) {
    width: 100%;
    text-align: center;
    
}


.sobremim{
    text-transform: uppercase; 
    letter-spacing: 4px;
}

.sobremim::after{
    display: block;
    content: "";
    position: absolute;
    height: 17px;
    width: 188px;
    background-color: #f9ce0f;
    opacity: .4;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-18px);

}

.habilidaes {
    display: inline-flex;
    
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #f9ce0fd0;
   
}


.conteudo-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.icones {
    margin-bottom: 10px;
}
  
.icones a {
    display: inline-block;
    margin: 0 10px;
}
  
.icones img {
    width: 30px;
    height: 30px;
}
  
.info {
    width: 100%;
    text-align: center;
}
  
.info p {
    margin: 5px 0;
    font-size: 14px;
}

/* Responsividade */

@media screen and (max-width: 900px) {
    header {
        padding: 1rem;
    }

    header > a {
        padding: 0 1rem;
    }

    nav {
        width: 50%;
    }

    .page {
        padding: 1rem;
    }

    #page1 {
       height: 100vh;
       padding-top: 65%;
       padding-bottom: 65%;
    }

    .conteudo_page1 {
        width: 100%;
        padding: 0;
        
    }

    .h1_page1 {
        font-size: 2.5rem;
    }

    .p2_page1 {
        font-size: 24px;
    }

    #page2{
        height: 100vh;
        padding-top: 25%;
        padding-bottom: 20%;
    }

    .box_page2 {
        flex-wrap: wrap;
    }

    .projetos {
        position: relative;
        flex: 0 0 300px;
        height: 250px;
        background: #0F2027;
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
        opacity: .6;
        margin: 15px;
        box-shadow: 0 5px 23px 0 rgba(3, 3, 3, 0.493);
        border-radius: 10px;
        transition: ease-in-out .15s;
      
    }

    .megasena1,
    .megasena2,
    .megasena3 {
        width: 70px;
        height: 70px;
    }

    .h2_page2 {
        font-size: 20px;
    }

    .p1_page2 {
        font-size: 1rem;
    }

    .p2_page2 {
        font-size: 16px;
    }

    #page3{
        height: 100vh;
        padding-bottom: 20%;
    }

    #page3>div>p {
        font-size: .8rem;

    }

    .conteudo_page3 {
        margin-bottom: 1rem;
    }

    .habilidaes {
        width: 60px;
        height: 60px;
    }

    .icones {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .info {
        text-align: center;
    }

}